*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Andika New Basic', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url('../img/design1_image1.jpg') no-repeat center center fixed teal;
    background-size: cover;
    background-position: center;
    background-position-y: 10px;
    color: black;
}
.encabezado{
    width: 100vw;
    padding: 5px;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(2, 50%);
    background-color: rgb(0, 0, 0);

}
    .titulo{
        max-width: 37vw;
        transition: .3s;
        margin: auto 10px;
    }
    .titulo a{
        text-decoration: none;
        color: #fff;
        margin: auto 0;
        transition: .1s linear;
    }
    .titulo:hover{
        transform: scale(1.02);
    }
        .titulo:hover a{
            color: teal;
        }
        .titulo img{
            width: 36px;
            float: left;
        }
    
    /*Estilo de Menu*/
.menu{
    max-width: 63vw;
    /* background-color: red; */
    margin: auto;
}
    .menu ul{
        list-style: none;
    }
        .menu ul li{
                display: block;
                float: left;
                margin: auto;
                padding: 4px;
                transition: .3s;
                font-size: .7em;
        }
        .menu ul li:hover{
            background-color: teal;
            box-shadow: 2px 2px darkslategray;
            transform: scale(1.05);
        }
            .menu ul li a{
                text-decoration: none;
                color: white;
            }

            
/* Fin Estilo Menu */

/* logo flotante*/
/* fin logo flotante */

/* contenido de pagina */
.espacio{
    width: 100%;
    height: 92.4vh;
    max-height: 100%;
}
/* Fin del espacio */
    
.general{ 
    width: 100%;
    background-color: #0e3f3f;
}
/*titulo de seccion*/
    .seccion1{
        max-width: 100vw;
     }
        .seccion1 .header{
            background-color: rgb(0, 0, 0);
            width: 100%;
            padding: 10px;
            transition: .3s;
            text-align: center;
        }
            .seccion1 .header:hover{
                background-color:  #e3e3e3;
            }
                .subtitulo{
                    text-decoration: none;
                    color: #fff;
                    transition: .3s;
                    font-size: 1.1em;
                }
                    .seccion1 .header:hover a{
                        color: teal;
                    }

.subseccion1{
    width: 90%;
    padding: 10px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Estilo del logo */
.logo{
    max-width: 40%;
    margin: auto;
} 
    .logo img{
        display: block;
        width: 100%;
        padding: 0 5px 0 0;
    }
.articulo{
    width: 60%;
    margin: auto;
    font-size: .75em;
    color: white;
    box-shadow: 3px 3px darkslategray;
    /* border-radius: 10px 0 0 0; */
} 
    .h_2{
        color: teal;
        background-color: black;
        box-shadow: 3px 3px darkslategray;
        padding:5px 8%;
        text-align: right;
        font-size: .85em;
    }
    .parrafo{
        padding: 10px;
        font-weight: lighter;
        font-size: .8em;
        background-color: #30150f;
    }
        .parrafo h3{
            background-color: teal;
            color: black;
            margin-bottom: 10px;
            padding: 5px 10px;
            border-radius: 10px 0 10px 0;
            box-shadow: 2px 2px gray;
        }
        .parrafo a{
            color: white;
        }

/*Estilo de pie de pagina*/
.footer{
    width: 100%;
    background-color: #30150f;
    color: white;
    text-align: left;
    display: flex;
    font-size: .43em;

    margin: 0;
    padding: 0;
}   
    .container_footer {
        width: 100%;
    }   
        .footer a{
            transition: .2s linear;
            text-decoration: none;
            color: white;
        }
        .parte1{
            width: 100%;
            display: inline-flex;
        }
/*Estilo general para filas*/
/*Fin de estilo general de filas*/
            .parte1 .columna{
                width: 100%;
                margin: 0 auto;
                background-color: #202020;
            }
                .parte1 h1{
                    height: auto;
                    padding: 5px 10%;
                    font-size: 1.2em;
                    background-color: black;
                    color: teal;
                }
                .parte1 .row{
                    transition: .3s;
                    padding: 7px 10px;
                }
                    .parte1 .row:hover{
                        background-color: black;
                        color: white;
                    }
                        .parte1.row:hover a{
                           color: teal; 
                        }


/* Estilo de span / iconos */
span{
    font-size: 120%;
    color: teal;
    float: left;
    margin-right: 5px;
}
.facebook{
    color: rgb(100, 100, 199);
}
.twitter{
    color: rgb(12, 145, 221);
}
.instagram{
    color: #c7c7c7;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 5px;
}
/* Fin de estilo span/ iconos*/

/* Estilos de parte inferios de pie de pagina*/
        .parte2{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            background-color:  rgb(89, 146, 146);
            color: black;
            font-size: 1.3em;
        }
            .parte2 a{
                text-decoration: none;
                color: black;
            }
                .parte2 a:hover{
                    color: white; 
                }

            .copyright{
                max-width: 70%;
                padding: 3px 5px;
            }
                .copyright div{
                        text-align: right;
                        float: left;
                        min-width: 150px;
                    }
            
            .politica{
                width: 30%;
                text-align: center;
                padding: 3px 5px;
                /* background-color: purple; */
            }
                .politica div{
                    float: left;
                    margin: auto;
                }
